<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update {{data.Fname}}</title>
</head>

<body>
    <form action="{% url 'updateuser' pk=data.id %}" method="POST">{% csrf_token %}
        <table align="center" border="2" cellspacing="0" cellpadding="8">
            <tr>
                <td>Fname</td>
                <td> <input type="text" name="fname" placeholder="{{data.Fname}}"></td>
            </tr>
            <tr>
                <td>Lname</td>
                <td> <input type="text" name="lname" placeholder="{{data.Lname}}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td> <input type="email" name="email" placeholder="{{data.Email}}"></td>
            </tr>
            <tr>
                <td>password</td>
                <td> <input type="password" name="passwd" placeholder="{{data.password}}"></td>
            </tr>
            <tr align="center">
                <td colspan="2"><input type="submit" value="Submit"> </td>
            </tr>
        </table>
    </form>
</body>

</html>